<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
   <iron-ajax id="ironAltaUsuario"
              method="POST"
              urlx="http://localhost:3000/v5/usuarios"
              url="http://usuarios-api-jlcmrmr.1d35.starter-us-east-1.openshiftapps.com/v5/usuarios"
              handle-as="json"
              content-type="application/json"
              on-response="resultadoAlta">
            </iron-ajax>

    <div class="" hidden$="{{escondeAlta}}">
      <div class="">
        <label for="">ID Usuario</label>
        <input required="required" type="text" placeholder="USR12345" value="{{validusuario::input}}">
      </div>
      <div class="">
        <label for="">Nombre</label>
        <input required="required" type="text" value="{{valnombre::input}}">
      </div>
      <div class="">
        <label for="">Apellido</label>
        <input required="required" type="text" value="{{valapellido::input}}">
      </div>
      <div class="">
        <label for="">Email</label>
        <input required="required" type="text" placeholder="usr@mail.com" value="{{valemail::input}}">
      </div>
      <div class="">
        <label for="">Password</label>
        <input required="required" type="password" value="{{valpwd::input}}">
      </div>
      <div class="">
        <label for="">Pais</label>
        <input required="required" type="text" value="{{valpais::input}}">
      </div>
      <div class="">
        <button class="btn btn-info" on-click="altaUser">Crear Usuario</button>
        <a class="btn btn-info" href="/login">Cancelar</a>
      </div>
  </div>

  <div class="" hidden$="{{escondeMensaje}}">
    <div class="">
      <h5>Alta Correcta de Usuario</h5>
    </div>
    <div class="">
      <a class="btn btn-info" href="/login">Regresar</a>
    </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuarioApp extends Polymer.Element {
      static get is() { return 'alta-usuario-app'; }
      static get properties() {
        return {
          validusuario: {
            type: String
          },
          valnombre: {
            type: String
          },
          valapellido: {
            type: String
          },
          valemail: {
            type: String
          },
          valpwd: {
            type: String
          },
          valpais: {
            type: String
          },
          escondeMensaje:{
            type: Boolean,
            value: true
          },
          escondeAlta:{
            type: Boolean,
            value: false
          }
        };
      }
      altaUser(){
        //console.log("Alta correcta de: "+this.validusuario)
        var obj = {"idusuario":"",
                  "nombre":"",
                  "apellido":"",
                  "email":"",
                  "password":"",
                  "pais":""}
        obj.idusuario=this.validusuario;
        obj.nombre=this.valnombre;
        obj.apellido=this.valapellido;
        obj.email=this.valemail;
        obj.password=this.valpwd;
        obj.pais=this.valpais;
        this.$.ironAltaUsuario.body=obj;
        this.$.ironAltaUsuario.generateRequest();
      }
      resultadoAlta(data){
        //console.log(data.detail.response);
        this.validusuario="";
        this.valnombre="";
        this.valapellido="";
        this.valemail="";
        this.valpwd="";
        this.valpais="";
        this.escondeAlta=true;
        this.escondeMensaje=false;
      }
    }

    window.customElements.define(AltaUsuarioApp.is, AltaUsuarioApp);
  </script>
</dom-module>
