<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="logout-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Hasta Luego</h3>
    <h4>Su sesion ha finalizado.</h4>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutApp extends Polymer.Element {
      static get is() { return 'logout-app'; }
      ready() {
        super.ready();
        console.log("Logout de usr: "+sessionStorage.getItem('idusuario'));
        sessionStorage.setItem('idusuario','');
        sessionStorage.setItem('nombreusr','');
        sessionStorage.setItem('apellidousr','');
      }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(LogoutApp.is, LogoutApp);
  </script>
</dom-module>
