<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="detalle-movimiento-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimiento"
               auto=""
               url="http://localhost:3000/v2/movimientos/{{id}}"
               handle-as="json"
               on-response="mostrarMovimiento">
             </iron-ajax>

    <h1>Detalle del movimiento {{id}}</h1>
    <div class="card col-lg-3" >
        <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[movimiento.ciudad]]&zoom=10&size=640x400" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{movimiento.id}}</h5>
          <p class="card-text">{{movimiento.fecha}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Importe: {{movimiento.importe}}</li>
          <li class="list-group-item">Ciudad: {{movimiento.ciudad}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">{{movimiento.latitud}}</a>
          <a href="#" class="card-link">{{movimiento.longitud}}</a>
        </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientoApp extends Polymer.Element {
      static get is() { return 'detalle-movimiento-app'; }
      static get properties() {
        return {
          movimiento: {
            type: Object
          }
        };
      }
      mostrarMovimiento(data){
        //console.log(data.detail.response);
        this.movimiento = data.detail.response;
      }
    }

    window.customElements.define(DetalleMovimientoApp.is, DetalleMovimientoApp);
  </script>
</dom-module>
