<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
               auto="auto"
               urlx="http://localhost:3000/v5/movimientos/{{idusuario}}&{{idcuenta}}"
               url="http://movimientos-api-jlcmrmr.1d35.starter-us-east-1.openshiftapps.com/v5/movimientos/{{idusuario}}&{{idcuenta}}"
               handle-as="json"
               on-response="mostrarMovimientos">
             </iron-ajax>
    <iron-ajax id="ironAltaMovimiento"
               method="PUT"
               urlx="http://localhost:3000/v5/movimientos/[[idusuario]]&[[idcuenta]]"
               url="http://movimientos-api-jlcmrmr.1d35.starter-us-east-1.openshiftapps.com/v5/movimientos/[[idusuario]]&[[idcuenta]]"
               handle-as="json"
               content-type="application/json"
               on-response="resultadoAlta">
             </iron-ajax>
    <!--div class="">
      <button class="btn btn-warning" on-click="invocarPeticion">Movimentos</button>
    </div-->
    <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
      <span>{{ciudadSeleccionada}}</span>
      <span>Saldo: {{saldo}}</span>
      <thead>
        <th>Id</th>
        <th>Fecha</th>
        <th>Descripcion</th>
        <th>Importe</th>
        <th>Ver Detalles</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}" as="mov">
          <tr on-click="mostrarDetalle">
            <td>{{mov.idmov}}</td>
            <td>{{mov.fecha.$date}}</td>
            <td>{{mov.descripcion}}</td>
            <td>{{mov.importe}}</td>
            <td><a class="btn btn-info">detalles</a></td>
          </tr>
        </template>
      </tbody>
      </table>



      <div class="card col-lg-3" hidden$="{{escondeDetalle}}">
          <div class="">
            <label for="">Detalle de Movimiento</label>
          </div>
          <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center={{detLatitud}},{{detLongitud}}&zoom=16&size=640x400&path=weight:3%7Ccolor:blue%7Cenc:{coaHnetiVjM??_SkM??~R" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{detId}}</h5>
            <p class="card-text">{{detFecha}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Descripcion: {{detDescripcion}}</li>
            <li class="list-group-item">Importe: {{detImporte}}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">{{detLatitud}}</a>
            <a href="#" class="card-link">{{detLongitud}}</a>
          </div>
          <div class="">
            <button class="btn btn-info" on-click="listadoMovs">Regresar</button>
          </div>
        </div>



      <div class="" hidden$="{{escondeBtnAlta}}">
        <a class="btn btn-info" on-click="muestraAltaForm">Nuevo movimiento</a>
      </div>
      <div class="" hidden$="{{escondeAlta}}">
        <div class="">
          <label for="">Alta de Nuevo Movimiento</label>
        </div>
        <div class="">
          <label for="">Descripcion:</label>
          <input required="required" type="text" value="{{valdescmov::input}}">
        </div>
        <div class="">
          <label for="">Importe:</label>
          <input required="required" type="text" value="{{valimpmov::input}}">
        </div>
        <div class="">
          <label for="">Latitud:</label>
          <input required="required" type="text" value="{{vallatmov::input}}">
        </div>
        <div class="">
          <label for="">Longitud:</label>
          <input required="required" type="text" value="{{vallongmov::input}}">
        </div>
        <div class="">
          <button class="btn btn-info" on-click="altaMovimiento">Generar Movimiento</button>
          <button class="btn btn-info" on-click="listadoMovs">Cancelar</button>
        </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }

      /**ready(data) {
        super.ready(data);
        console.log("en ready: "+sessionStorage.getItem('idusuario')+"-"+sessionStorage.getItem('idcuenta'));
        console.log(data);
        this.idusuario=sessionStorage.getItem('idusuario');
        this.idcuenta=sessionStorage.getItem('idcuenta');
        this.$.obtenerMovimientos.generateRequest();
      }**/

      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          saldo:{
            type: Number
          },
          saldoNuevo:{
            type: Number
          },
          noTengoMovimientos:{
            type: Boolean,
            value: true
          },
          ciudadSeleccionada:{
            type: String
          },
          idusuario: {
            type: String
          },
          idcuenta: {
            type: Number
          },
          valdescmov:{
            type: String
          },
          valimpmov:{
            type: String
          },
          vallatmov:{
            type: String
          },
          vallongmov:{
            type: String
          },
          escondeAlta:{
            type: Boolean,
            value: true
          },
          escondeBtnAlta:{
            type: Boolean,
            value: false
          },
          escondeDetalle:{
            type: Boolean,
            value: true
          },
          detId:{
            type: Number
          },
          detFecha:{
            type: String
          },
          detDescripcion:{
            type: String
          },
          detImporte:{
            type: Number
          },
          detLatitud:{
            type: String
          },
          detLongitud:{
            type: String
          }
        };
      }
      /*invocarPeticion(){
        this.$.obtenerMovimientos.generateRequest();
      }*/
      mostrarMovimientos(data){
        console.log(data.detail.response[0].movimientos);
        this.movimientos = data.detail.response[0].movimientos;
        this.saldo=data.detail.response[0].saldo;
        this.noTengoMovimientos=false;
      }
      mostrarDetalle(e){
        console.log(e);
        this.detId = e.model.mov.idmov;
        this.detFecha = e.model.mov.fecha.$date;
        this.detDescripcion = e.model.mov.descripcion;
        this.detImporte = e.model.mov.importe;
        this.detLatitud = e.model.mov.latitud;
        this.detLongitud = e.model.mov.longitud;
        this.escondeBtnAlta=true;
        this.noTengoMovimientos=true;
        this.escondeDetalle=false;
      }
      altaMovimiento(){
        if(this.valdescmov.substring(0,5)=="abono"){
          this.saldoNuevo=parseInt(this.saldo)+parseInt(this.valimpmov);
        }else{
          this.saldoNuevo=this.saldo-this.valimpmov;
        }
        var obj = {
                    "saldo" : 0,
                    "movimientos" :  [{
                      "descripcion" : "",
                      "importe" : 0,
                      "latitud" : 0,
                      "longitud" : 0}]
                  }
        obj.saldo=this.saldoNuevo;
        obj.movimientos[0].descripcion=this.valdescmov;
        obj.movimientos[0].importe=JSON.parse(this.valimpmov);
        obj.movimientos[0].latitud=JSON.parse(this.vallatmov);
        obj.movimientos[0].longitud=JSON.parse(this.vallongmov);
        console.log(obj)
        this.$.ironAltaMovimiento.body=obj;
        this.$.ironAltaMovimiento.generateRequest();
      }
      resultadoAlta(data){
        console.log(data.detail.response);
        this.valdescmov="";
        this.valimpmov="";
        this.vallatmov="";
        this.vallongmov="";
        this.escondeAlta=true;
        this.escondeBtnAlta=false;
        this.$.obtenerMovimientos.generateRequest();
      }
      muestraAltaForm(){
        this.noTengoMovimientos=true;
        this.escondeAlta=false;
        this.escondeBtnAlta=true;
        this.escondeDetalle=true;
      }
      listadoMovs(){
        this.valdescmov="";
        this.valimpmov="";
        this.vallatmov="";
        this.vallongmov="";
        this.noTengoMovimientos=false;
        this.escondeAlta=true;
        this.escondeDetalle=true;
        this.escondeBtnAlta=false;
      }
    }

    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
