<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerCuentas"
               urlx="http://localhost:3000/v5/cuentas/{{idusuario}}"
               url="http://cuentas-api-jlcmrmr.1d35.starter-us-east-1.openshiftapps.com/v5/cuentas/{{idusuario}}"
               handle-as="json"
               on-response="mostrarCuentas">
             </iron-ajax>
    <iron-ajax id="ironAltaCuenta"
               method="POST"
               urlx="http://localhost:3000/v5/cuentas"
               url="http://cuentas-api-jlcmrmr.1d35.starter-us-east-1.openshiftapps.com/v5/cuentas"
               handle-as="json"
               content-type="application/json"
               on-response="resultadoAlta">
             </iron-ajax>
    <table class="table table-striped" hidden$="{{noTengoCuentas}}">
      <thead>
        <th>Id-Cuenta</th>
          <th>Saldo</th>
        <th>Ver Movimientos</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}" as="cta">
          <tr>
            <td>{{cta.idcuenta}}</td>
            <td>{{cta.saldo}}</td>
            <!--td><a class="btn btn-info" on-click="muestraMovs">movimientos</a></td-->
            <td><a class="btn btn-info" href$="/movimientos/[[idusuario]]/[[cta.idcuenta]]">movimientos</a></td>
          </tr>
        </template>
      </tbody>
      </table>

      <div class="" hidden$="{{escondeBtnAlta}}">
        <a class="btn btn-info" on-click="muestraAltaForm">Nueva Cuenta</a>
      </div>
      <div class="" hidden$="{{escondeAlta}}">
        <div class="">
          <label for="">Alta de Nueva Cuenta</label>
        </div>
        <div class="">
          <label for="">ID Usuario: [[idusuario]]</label>
        </div>
        <div class="">
          <label for="">ID Cuenta</label>
          <input required="required" type="text" value="{{validcuenta::input}}">
        </div>
        <div class="">
          <label for="">Saldo</label>
          <input required="required" type="text" value="{{valsaldo::input}}">
        </div>
        <div class="">
          <button class="btn btn-info" on-click="altaCuenta">Crear Cuenta</button>
          <button class="btn btn-info" on-click="cancelaAlta">Cancelar</button>
        </div>
      </div>

      <div class="" hidden$="{{noTengoSesion}}">
        <h4>No se encontro una sesion.</h4>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasApp extends Polymer.Element {
      static get is() { return 'cuentas-app'; }

      ready() {
        super.ready();
        //console.log("en ready: "+sessionStorage.getItem('idusuario'));
        this.idusuario=sessionStorage.getItem('idusuario');
        if(this.idusuario==null || this.idusuario==""){
          this.noTengoSesion=false;
          this.escondeBtnAlta=true;
        }else{
          this.$.obtenerCuentas.generateRequest();
        }
      }

      static get properties() {
        return {
          cuentas: {
            type: Array
          },
          idusuario: {
            type: String
          },
          validcuenta: {
            type: Number
          },
          cuentaseleccionada: {
            type: Number
          },
          valsaldo: {
            type: Number
          },
          noTengoCuentas:{
            type: Boolean,
            value: true
          },
          escondeAlta:{
            type: Boolean,
            value: true
          },
          escondeBtnAlta:{
            type: Boolean,
            value: false
          },
          noTengoSesion:{
            type:Boolean,
            value:true
          }
        };
      }
      mostrarCuentas(data){
        //console.log(data.detail.response);
        //console.log(sessionStorage.getItem('idusuario'));
        this.cuentas = data.detail.response;
        this.noTengoCuentas=false;
        this.escondeAlta=true;
      }
      muestraMovs(e){
        //console.log(e.model.cta.idcuenta);
        this.cuentaseleccionada=e.model.cta.idcuenta;
        sessionStorage.setItem('idcuenta',this.cuentaseleccionada);
        this.href="/movimientos/"+this.idusuario+"&"+this.cuentaseleccionada;
        //console.log(this.href);
      }
      altaCuenta(){
        //console.log("Alta correcta de cuenta: "+this.validcuenta)
        var obj = {"idusuario":"",
                  "idcuenta":0,
                  "saldo":0}
        obj.idusuario=this.idusuario;
        obj.idcuenta=JSON.parse(this.validcuenta);
        obj.saldo=JSON.parse(this.valsaldo);
        this.$.ironAltaCuenta.body=obj;
        this.$.ironAltaCuenta.generateRequest();
      }
      resultadoAlta(data){
        //console.log(data.detail.response);
        this.validcuenta="";
        this.valsaldo="";
        this.escondeAlta=true;
        this.escondeBtnAlta=false;
        this.$.obtenerCuentas.generateRequest();
      }
      muestraAltaForm(){
        this.noTengoCuentas=true;
        this.escondeAlta=false;
        this.escondeBtnAlta=true;
      }
      cancelaAlta(){
        this.validcuenta="";
        this.valsaldo="";
        this.noTengoCuentas=false;
        this.escondeAlta=true;
        this.escondeBtnAlta=false;
      }
    }

    window.customElements.define(CuentasApp.is, CuentasApp);
  </script>
</dom-module>
