<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
             </iron-ajax>
   <iron-ajax id="ironLogin"
              method="POST"
              urlx="http://localhost:3000/v5/usuarios/login"
              url="http://usuarios-api-jlcmrmr.1d35.starter-us-east-1.openshiftapps.com/v5/usuarios/login"
              handle-as="json"
              content-type="application/json"
              on-response="mostrarLogin">
            </iron-ajax>
    <!--
    <div class="row">
      <button class="col-lg-4" type="button" name="button">Boton 1</button>
      <button class="col-lg-4" type="button" name="button">Boton 2</button>
      <button class="col-lg-4" type="button" name="button">Otro Boton</button>
    </div>
    -->
    <iron-image alt="The TechU logo." style="width:100px; height:50px;" sizing="contain" src="./src/images/TechU.png"></iron-image>

    <div class="" hidden$="{{escondeLogin}}">
    <div class="">
      <!--label for="">[[etuser]]</label-->
      <label for="">Email</label>
      <input required="required" type="text" placeholder="usuario@mail.com" value="{{valuser::input}}">
    </div>
    <div class="">
      <label for="">Password</label>
      <input required="required" type="password" value="{{valpass::input}}">
    </div>
    <div class="">
      <button class="btn btn-info" on-click="hacerLogin">Iniciar Sesion</button>
      <!--button class="btn btn-warning" on-click="invocarPeticion">Invocar</button-->
    </div>
    <div>
      <label for="">No estas registrado?</label>
      <a class="btn btn-info" href="/altaUsuario">Alta de usuario</a>
    </div>
    </div>

    <div class="" hidden$="{{escondeSaludo}}">
    <div>
      <span>Hola {{nombreuser}}</span>
    </div>
    </div>

    <table class="table table-striped" hidden$="{{noTengoProductos}}">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{productos}}" as="prd">
          <tr>
            <td>{{prd.ProductID}}</td>
            <td>{{prd.ProductName}}</td>
            <td>{{prd.UnitPrice}}</td>
          </tr>
        </template>
      </tbody>
    </table>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }

      ready() {
        super.ready();
        console.log("en readyL: "+$('li-home'));
        if(sessionStorage.getItem('idusuario')!=null && sessionStorage.getItem('idusuario')!=''){
          this.nombreuser=sessionStorage.getItem('nombreusr')+" "+sessionStorage.getItem('apellidousr');
          this.escondeSaludo=false;
          this.escondeLogin=true;
        }
      }

      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type: String
          },
          validuser: {
            type: String
          },
          valpass: {
            type: String
          },
          nombreuser: {
            type: String
          },
          productos: {
            type: Array
          },
          noTengoProductos:{
            type: Boolean,
            value: true
          },
          escondeLogin:{
            type: Boolean,
            value: false
          },
          escondeSaludo:{
            type: Boolean,
            value: true
          }
        };
      }
      hacerLogin(){
        console.log("Login correcto de: "+this.valuser)
        var obj = {"email":"","password":""}
        obj.email=this.valuser;
        obj.password=this.valpass;
        this.$.ironLogin.body=obj;
        this.$.ironLogin.generateRequest();
      }
      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data){
        console.log(data.detail.response.value);
        this.productos = data.detail.response.value;
        this.noTengoProductos=false;
      }
      mostrarLogin(data){
        console.log(data.detail.response);
        var res = data.detail.response;
        if(res){
          sessionStorage.setItem('idusuario',data.detail.response[0].idusuario);
          sessionStorage.setItem('nombreusr',data.detail.response[0].nombre);
          sessionStorage.setItem('apellidousr',data.detail.response[0].apellido);
        }
        this.validuser=data.detail.response[0].idusuario;
        this.nombreuser=data.detail.response[0].nombre+" "+data.detail.response[0].apellido+"!";
        this.escondeSaludo=false;
        this.escondeLogin=true;
        console.log($('#navbarNav').children);
      }

    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
