<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="home-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-image alt="The TechU logo." style="width:100px; height:50px;" sizing="contain" src="./src/images/TechU.png"></iron-image>
    <div class=""><span>Bienvenido {{nombreuser}}</span></div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HomeApp extends Polymer.Element {
      static get is() { return 'home-app'; }
      ready() {
        super.ready();
        if(sessionStorage.getItem('idusuario')!=null && sessionStorage.getItem('idusuario')!=''){
          this.idusuario=sessionStorage.getItem('idusuario');
          this.nombreuser=sessionStorage.getItem('nombreusr')+" "+sessionStorage.getItem('apellidousr');
        }
      }
      static get properties() {
        return {
          idusuario: {
            type: String
          },
          nombreuser: {
            type: String
          }
        };
      }
    }

    window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>
